body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #F5BAC3;
    background-image: url(img/atoblanco.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: border-box;
}
/*--------------------------------------------------------Encabezado Primera parte-------------------------------------------------------------------------------*/
/*encabezado Inicio*/
header{
    display: flex;
    background-color: #F9F2D7;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
/*color letra (incio productos cuenta) superior derecha*/
a{
    text-decoration: none;
    color: rgb(0, 0, 0); 
}
/*Edicion logo superior izquierda*/
.logo{
    display: flex;
    align-items: center;
}
.logo img{
height: 90px;
margin-left: 20px;
margin-bottom: 10px;
margin-right: 10px;
margin-top: 10px;
}
/*Edicion barra de busqueda (aun no se acopla a vista de movil)*/
.barra-de-busqueda {
position: absolute;
left: 30%;
}
input{
    height: 25px;
    width: 440px;
    border-radius: 10px;
    border-color: #FA7592;
}
input.src{
    padding-left: 20px;
    font-size: 15px;
    border-radius: 15px;
    background: #fff url(img/search-icon.png);
    background-repeat: no-repeat;
    background-position: left;
}
input:hover{
    border-color: #FA7592;
}
/*separacion de incio productos cuenta superior derecha*/
nav a{
    font-weight: 600;
    padding-right: 30px;
    font-size: 20px;
}
nav a img{
    height: 30px;
    width: 30px;
}
/*decoracion color de incio productos cuenta superior derecha*/
nav a :hover{
    color: #FA7592;

}
/* Agrupacion de los elementos header en columna(La barra de busqueda aun no se agrupa)*/
@media(max-width: 1140px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
    .barra-de-busqueda{
        flex-direction: column;
        top: 12%;
        left: 50%;
        width: 20%;
    }
}
/*-------------------------------------------------------------Carrusel Segunda parte-------------------------------------------------------------------------------*/
/*agregar carrusel de ofertas*/
.slider-frame {
	width: 1580px;
    height: 450px;
	margin:20px auto;
    overflow: hidden;
}
.slider-frame ul {
	display: flex;
	padding: 0%;
	width: 400%;
	animation: slide 20s infinite alternate ease-in-out;
}
.slider-frame li {
	width: 30%;
	list-style: none;
    background-position: center;
}
.slider-frame img {
	width: 100%;
}
@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
/*------------------------------------------------------------- Catalogo Tercera parte-------------------------------------------------------------------------------*/
/*Productos Destacados*/
.container-catalogo{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.Titulo{
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
.Titulo img{
    height: 20px;
    width: 20px;
}
.caja img{
    width: 288px;
    height: 240px;
    border-radius: 30px;
}
.caja{
    margin: 15px;
}
.caja p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.btn-comprar {
	display: inline-block;
	margin-top: 10px;
	padding: 10px 20px;
	background-color: #F9F2D7;
	color: #FA7592;
	border-radius: 3px;
	text-decoration: none;
	font-weight: bold;
}
/*-------------------------------------------------------------Items Principales Cuarta parte-------------------------------------------------------------------------------*/
/*Catalogos*/
.imagenes-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px auto;
}
.imagenes-container .imagen{
    position: relative;
    margin-right: 10px;
    display: inline-flex;
    flex-direction: column;
}
.imagenes-container .imagen img{
    width: 170px;
    height: 170px;
    transition: transform 0.32s ease-in-out;
}
.imagenes-container .imagen .nombre{
    position: absolute;
    background-color: white;
    border-radius: 5px;
    color: rgb(3, 3, 3);
    display: none;
    min-width: 100px;
    width: 150px;
    top: -60px;
    padding: 10px 15px;
}
.imagenes-container .imagen .nombre .text{
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    width:  150px;
    text-align: center;
    box-sizing: border-box; 
}
.imagenes-container .imagen:hover .nombre{
    display: inline-block;
    transform: translateY(-20px)
}
.imagenes-container .imagen .nombre::before {
    content: "";
    position: absolute;
    width:  1px;
    height: 1px;
    left: 40%;
    bottom: -20px;  
    border-top: 10px solid #FA7592;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.imagenes-container .imagen:hover img{
transform: translateY(-20px);
}
@media screen and(max-width: 1140px){
    .imagenes-container{
        width: 100%;
        flex-direction: column;
        align-items: center;  
}
}
/*-------------------------------------------------------------Fidelizacion Quinta parte-------------------------------------------------------------------------------*/
/*Anuncios Fidelizacion*/
.ContainerFidelizacion{
    width: 100%;
    background-color: #E8D4D1;
    height: 420px;
    display: flex;
    justify-content: center;
}
.ContainerFidelizacion .F1 img{
    width: 450px;
    height: 400px;
    margin: 10px;
}
.ContainerFidelizacion .F2 img{
    width: 450px;
    height: 400px;
    margin: 10px;
}
.ContainerFidelizacion .F3 img{
    width: 450px;
    height: 400px;
    margin: 10px;
}
.ContainerFidelizacion .F1 p{
    text-align: center;
    margin: 10px auto;
    font-weight: bold;
    font-size: 18px;
}
.ContainerFidelizacion .F2 p{
    text-align: center;
    margin: 10px auto;
    font-weight: bold;
    font-size: 18px;
}
.ContainerFidelizacion .F3 p{
    text-align: center;
    margin: 10px auto;
    font-weight: bold;
    font-size: 18px;
}
.DescuentoVector{
    background-color: #E8D4D1;
    width: 100%;
    height: 250PX;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30PX;
}
.DescuentoVector .Vector{
    width: 1400PX;
    margin: 10PX;
}
/*-------------------------------------------------------------Pie de Pagina Sexta parte-------------------------------------------------------------------------------*/
/*Pie de pagina*/
.pie-pagina{
    width: 100%;
    background-color: #F9F2D7;
    overflow: hidden;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid; /*-*/
    grid-template-columns: repeat(3, 1fr); /*dividir en 3 columnas*/
    grid-gap: 50px; /*Distancia de las columnas*/
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 200px;
}
.pie-pagina .grupo-1 .box h2{
    color: #FA7592;
    margin-bottom: 25;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: black;
    margin-bottom: 10px; /*Separacion de parrafo a parrafo*/
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: black;
    margin-right: 10px;
    background-color:#E3D6B8;
    text-align: center;
    transition: all 300ms aese;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: #FA7592;
}
.pie-pagina .grupo-2{
    background-color: #FA7592;
    padding: 8px;
    text-align: center;
    color: black;
    font-size: 17px;
}
@media screen and (max-width: 1140px){
    .pie-pagina .grupo-1{
        width: 100%;
        grid-template-columns: repeat(1, 1fr); /*dividir en 3 columnas*/
        grid-gap: 30px; /*Distancia de las columnas*/
        padding: 35px 0px; 
    }
}   
.container-icon{
    position: relative;
    left: 1000%;/*posicion de iconotienda*/
    top: -7%; 
}


/* Main */
.container-items{
    display: grid;/*hace que se ve de largo si se quita esto queda vertical*/
    grid-template-columns: repeat(4, 1fr);/*cantidad de cajas en el background*/
    gap: 90px;/*espacio entre los cuadros*/
   margin-top: 70px;
    text-align: center;
   margin-left: 30px;
   margin-right: 30px;
   padding: 2%;
}

.item{
    border-radius: 10px;/*caja parte de abajo*/
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    background-color:  #F9F2D7;
    
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    background-color: #ec8fae30; 
  
    
}

.item img{
    width: 100%;
    height: 300px;
    border-radius: 10px 10px 0 0;/*borde de cajas*/
    object-fit: cover;
    transition: all .5s;
    
    
}

.item figure{
    overflow: hidden;
    
}

.item:hover img{
    transform: scale(1.2);/*zoom imagenes*/
    
}


.info-product{
padding: 15px 30px;
line-height: 1;
display: flex;
flex-direction: column;
gap: 10px;
}

.price{
font-size: 28px;
font-weight: 500;
margin-top: 10px;
}
h2{font-size: 30px;}
h1{font-size: 20px;}

.info-product button{
border: none;
background: none;
background-color: #0e2d71d5;
color: #fff;
padding: 15px 10px;
cursor: pointer;
}
.medicamentos{
   text-align: center;  
   margin-top: 100px;
   font-size: 3em;
}


#form-busqueda {
    display: flex;
    align-items: center;
  }
  
  #form-busqueda input[type="submit"] {
    width: auto;
    padding: 5px 10px; /* Ajusta el relleno (padding) según tus preferencias */
    font-size: 12px; /* Ajusta el tamaño de la fuente según tus preferencias */
  }
<<<<<<< HEAD


  .container-catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  



=======
>>>>>>> 31e14efe618c6394be112ffa3a81e76e95d20680
  