body{
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  background-color: #F5BAC3;

  padding: 0;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-sizing: border-box;
}
.container-flex1{
  position: relative;
  display: flex;
  flex-flow: row wrap;
  background-color: #F9F2D7;    
}
.caja1{
  display: flex;
  order: 1;
  flex-grow: 1;
  padding: 2px;
}
.caja1 img{
  width: 80px;
  height: 80px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.caja1 h2{
  margin-left: 5px;
  font-size: 30px;
}
.caja2{
  display: flex;
  justify-content: flex-end;
  order: 3;
  flex-grow: 5;
  margin: auto;
}
.caja2 a{
  font-size: 25px;
  text-decoration: none;
  padding: 5px;
  color: black;
  font-weight: 500;
  margin-right: 10px;
}
.caja2 a:hover{
  color: #ee9ca7;
}
.caja2 nav{
  display: flex;
  justify-content: last baseline;
  margin-right: 10px;
}

/*cuerpo de pagina*/
 /*Agregar proveedor*/

 .form-admin {
    width: 35%;
    background: #F9F2D7;
    padding: 2%;
    margin: auto;
    margin-top: 2%;
    margin-block-end: 2%;
    border-radius: 10px;
    font-family: 'calibri';
    color: rgb(0, 0, 0);
    box-shadow: 7px 13px 37px #00000050;
    position: relative;
    justify-content: center;
  }

  .form-admin h4 {
    font-size: 2em;
    margin-bottom: 50px;
    align-items: center;
    text-align: center;
  }
  
  .controls {
    margin-top: 2%;
    width: 96%;
    background: #ffffff75;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #72747670;
    font-family: 'calibri';
    font-size: 18px;
    color: rgb(0, 0, 0);
  }
  
  .form-admin p {
    height: 40px;
    text-align: center;
    font-size: 1em;
    margin: 1%;
    
  }
  
  .form-admin a {
    color: rgb(54, 30, 133);
    text-decoration: none;
  }
 
  
  .form-admin .botons {
    width: 100%;
    background: #0e2d71d5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    cursor: pointer;
  }

  /*producto agregado con exito valido*/

  

/* Opciones de seleccion*/
 .tabla{
  width: 90%;
  margin-left: 5%;
  border: solid 1px #ccc;
  border-collapse: collapse;
  padding: 0;
  
}
.tabla td, .tabla th{
  font-size: 15px;
  padding: 5px;
  text-align: center;  
}
.tabla tr{
  border: solid 2px #ddd;
}

.listapro{
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 32%;
  margin-bottom: 5%;
  font-family: 'Times New Roman', Times, serif;
  background-color: #F9F2D7;
  padding: 1%;
  border-radius: 2%;
  margin-right: 33%;

}
.tabla thead{
  text-transform: unset;
  background: #373B44;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}
.tabla tbody{
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.tabla tbody tr:hover{
  background: #FFEFBA;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.tabla tbody td:hover{
  background: #ee9ca7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.tabla img{
  width: 20px;
  height: 20px;
}
@media(max-width:500px){
  .container-flex{
      flex-direction: column;
  }
  .caja3-3 img{
      width: 335px;
  }
  .tabla {
      width: 335px;
  }
}
/*<--------------Fin--Tabla--Estado-------->*/
 